body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-transform: capitalize;
}

li {
    list-style: none;
}


/*=============
navigation bar
==============*/

nav {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: grid;
}

.nav_center {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    max-width: 620px;
}

.nav_center h4 {
    text-transform: uppercase;
}

.nav_links,
.nav_links a {
    display: flex;
    margin: 0 2vw;
}


/*================
      main
=================*/

main {
    margin: 20vh auto;
    display: grid;
    place-items: center;
}

.color_pallet {
    color: white;
    margin: 1vw auto;
    background-color: black;
    padding: 10px 50px;
    border: 1px solid black;
    border-radius: 10px;
}

.btn_hero {
    display: flex;
    margin: 5vw auto;
    margin-bottom: 0;
    padding: 0.75rem 1.25rem;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 700;
    border: 3px solid black;
    background-color: transparent;
    border-radius: 12%;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn_hero:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
}